[Unit]
Description=Docker Container nscore
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a nscore
ExecStop=/usr/bin/docker stop -t 10 nscore

[Install]
WantedBy=multi-user.target